<table class="table">
  <thead>
    <tr>
      <th>
        <input #headerRowCheckbox class="form-check-input" type="checkbox" (change)="onHeaderCheckboxValueChange()" />
      </th>
      <th>Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Company Name</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let row of data$ | async">
      <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ row, level: 0 }"></ng-container>
    </ng-container>
  </tbody>

  <ng-template #rowTemplate let-row="row" let-parent="parent" let-level="level">
    <tr nestedTableBodyRow #bodyRow="nestedTableBodyRow" [parent]="parent" [level]="level">
      <td>
        <input
          #bodyRowCheckbox
          class="form-check-input"
          type="checkbox"
          (change)="onBodyRowCheckboxValueChange(bodyRow)"
        />
      </td>
      <td [ngStyle]="{ 'padding-left.px': level * 20 }">
        {{ row.name }}
        <div class="btn btn-sm" (click)="toggleRow(bodyRow)" *ngIf="row.children">
          <i class="bi" [ngClass]="bodyRow.isExpanded ? 'bi-arrow-down-short' : 'bi-arrow-right-short'"></i>
        </div>
      </td>
      <td>{{ row.type }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.phoneNo }}</td>
      <td>{{ row.companyName }}</td>
    </tr>

    <ng-container *ngFor="let childRow of row.children">
      <ng-container
        [ngTemplateOutlet]="rowTemplate"
        [ngTemplateOutletContext]="{ row: childRow, parent: bodyRow, level: bodyRow.level + 1 }"
      ></ng-container>
    </ng-container>
  </ng-template>
</table>
