td {
  background-color: transparent;
}

tr {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

tr:hover .overlay {
  opacity: 1;
}
