<div class="container pt-4">
  <form>
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search by name"
      aria-label="Search"
      [formControl]="nameForm"
    />
  </form>

  <table nestedTable class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>
          <input #headerRowCheckbox class="form-check-input" type="checkbox" (change)="onHeaderCheckboxValueChange()" />
        </th>
        <th nestedTableHeaderResize>Name</th>
        <th nestedTableHeaderResize>Type</th>
        <th nestedTableHeaderResize>Email</th>
        <th nestedTableHeaderResize>Phone Number</th>
        <th nestedTableHeaderResize>Company Name</th>
        <div class="header-row-options" *ngIf="headerRowCheckbox.indeterminate || headerRowCheckbox.checked">
          <button class="btn btn-sm btn-danger pe-auto">Delete multiple</button>
        </div>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let row of data">
        <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ row, level: 0 }"></ng-container>
      </ng-container>
    </tbody>

    <ng-template #rowTemplate let-row="row" let-parent="parent" let-level="level">
      <tr nestedTableBodyRow #bodyRow="nestedTableBodyRow" [parent]="parent" [level]="level">
        <td>
          <input #bodyRowCheckbox class="form-check-input" type="checkbox" (change)="onBodyRowCheckboxValueChange()" />
        </td>
        <td [ngStyle]="{ 'padding-left.px': level * 14 + 8 }">
          {{ row.name }}
          <div class="btn btn-sm" (click)="onToggleRow(bodyRow)" *ngIf="row.children">
            <i class="bi" [ngClass]="bodyRow.isExpanded ? 'bi-arrow-down-short' : 'bi-arrow-right-short'"></i>
          </div>
        </td>
        <td>{{ row.type }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.phoneNo }}</td>
        <td>{{ row.companyName }}</td>

        <div class="body-row-options" *ngIf="!headerRowCheckbox.indeterminate && !headerRowCheckbox.checked">
          <button class="btn btn-sm btn-primary pe-auto me-2" *ngIf="level === 0">Edit</button>
          <button class="btn btn-sm btn-danger pe-auto">Delete</button>
        </div>
      </tr>

      <ng-container *ngFor="let childRow of row.children">
        <ng-container
          [ngTemplateOutlet]="rowTemplate"
          [ngTemplateOutletContext]="{ row: childRow, parent: bodyRow, level: bodyRow.level + 1 }"
        >
        </ng-container>
      </ng-container>
    </ng-template>
  </table>
</div>
